
<div class="container">
    <div>
        <form id="pedidoForm" class="form-group">
            <div>
                <h2>Adicionar pedido</h2>
                <label for="nome"></label>
                <input type="number" class="form-control" id="pedidoId" placeholder="Pedido Id" name="pedidoId" [(ngModel)]="pedidoProduto.pedidoId">
            </div>
            <div class="form-group">
                <label for="descricao">Descricao</label>
                <input type="number" class="form-control" id="produtoId"  placeholder="produtoId" name="produtoId" [(ngModel)]="pedidoProduto.produtoId" >
            </div>
            <div class="form-group">
                <label for="descricao">Valor</label>
                <input type="number" class="form-control" id="valor"  placeholder="valor" name="valor" [(ngModel)]="pedidoProduto.valor" >
            </div>
            <div class="form-group">
                <label for="descricao">Quantidade</label>
                <input type="number" class="form-control" id="quantidade"  placeholder="quantidade" name="quantidade" [(ngModel)]="pedidoProduto.quantidade" >
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-danger" routerLink="/pedidos">Cancelar</button>
              <button type="button" class="btn btn-outline-success" (click)="salvarPedidoProduto()">Salvar</button>
            </div>
        </form>
    </div>
</div>
