

<div class="container pt-5">

    <div>
        <form id="pedidoForm" class="form-group">
            <div>
                <h2>Adicionar pedido</h2>
                <label for="nome"></label>
                <input type="number" class="form-control" id="pedidoId" placeholder="Pedido Id" name="pedidoId" [(ngModel)]="pedidoProduto.pedidoId">
            </div>
            <div class="form-group">
                <label for="descricao">descricao</label>
                <input type="number" class="form-control" id="produtoId"  placeholder="produtoId" name="produtoId" [(ngModel)]="pedidoProduto.produtoId" >
            </div>
            <div class="form-group">
                <label for="descricao">valor</label>
                <input type="number" class="form-control" id="valor"  placeholder="valor" name="valor" [(ngModel)]="pedidoProduto.valor" >
            </div>
            <div class="form-group">
                <label for="descricao">quantidade</label>
                <input type="number" class="form-control" id="quantidade"  placeholder="quantidade" name="quantidade" [(ngModel)]="pedidoProduto.quantidade" >
            </div>
            

            <button class="p-2 align-center" (click)="salvarPedidoProduto()">salvar
            </button>
        </form>

    </div>



</div>
