/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --laranja-farmarcas: #fe4c02;
  --laranja-logo: #ff5510;
}

.fundo-laranja-farmarcas {
    background-color: RGBA(254, 76, 2, 0.65);

}

.cor-laranja-farmarcas {
    color: #fe4c02;
}
